* {
  box-sizing: border-box;
}
header.main {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #fff8dc;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  
  
  
}

header.main div {
  display: flex;
  margin-top: 0em;
  margin-bottom: 0em;
}


header.main h2 {
  margin-top: 0em;
  margin-bottom: 0em;
}



